{% extends 'base.html.twig' %}

{% block title %}Symfony Time Tracker {% endblock %}

{% block body %}

    <div class="container">
        <div class="row">
            <home></home>
        </div>
    </div>

{% endblock %}
